.btn-oval {
  display: flex;
  justify-content: center;
  padding: 5px;
  // min-width: 270px;
  height: 100%;
  font-size: 17px;
  line-height: 30px;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-blue-dark;
  background-color: $color-yellow;
  border-radius: 30px;

  &:hover,
  &:focus {
    background-color: $color-yellow-dark;
  }

  &:active {
    color: rgba($color-blue-dark, 0.3);
  }

  @media (min-width: $tablet-width) {
    min-width: 189px;
    font-size: 20px;
  }
}
