.btn-oval {
  display: block;
  padding: 10px;
  width: 270px;
  font-size: 17px;
  line-height: 30px;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  color: $color-blue-dark;
  background-color: $color-yellow;
  border-radius: 30px;
}
