.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 33px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 48px;

    // background-color: $color-blue-dark-2;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 355px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

// .main-nav--fixed {
//   position: fixed;
// }

.main-nav__toggle {
  position: relative;
  width: 25px;
  height: 13px;
  border: none;
  margin-top: 5px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 3px;
    background-color: $color-white;
  }

  &::after {
    transform: translateY(8px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__auth {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 2;
    margin-top: -53px;
    margin-bottom: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    order: 6;
    margin: 0;
  }
}

.main-nav__menu {
  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 88px;
    padding-bottom: 82px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
    padding-top: 12px;
    padding-left: 145px;
    margin-right: auto;

    &::before {
      content: "";
      position: absolute;
      top: 26px;
      left: 41px;
      width: 60px;
      height: 2px;
      background-color: $color-white;
    }
  }
}

.main-nav__menu-list {
  @include reset-list;
  padding-bottom: 50px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.main-nav__menu-item {
  font-size: 30px;
  line-height: 36px;
  font-weight: $font-weight-medium;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $color-white;

    &:not(:last-child) {
      padding-right: 34px;
    }
  }
}

.main-nav__contacts {
  @include reset-list;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    order: 4;
    padding-bottom: 132px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    // display: flex;
    // flex-wrap: wrap;
    padding: 0;
  }
}

.main-nav__contacts-link {
  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
    padding-top: 25px;
    padding-left: 51px;
    font-size: 0;

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: -1;
    }

    &--tel::before {
      background-color: $color-orange-dark;
    }

    &--mail::before {
      background-color: $color-orange;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav__contacts-svg {
  display: none;

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: 18px;
    left: 18px;
  }
}

.main-nav--hide {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

// .main-nav__contacts-link--tel,
// .main-nav__contacts-link--mail {
//   position: relative;
//   display: block;
//   padding-top: 13px;
//   padding-left: 60px;
//   padding-bottom: 10px;
//   font-size: 16px;
//   line-height: 22px;
//   font-weight: $font-weight-bold;
//   text-transform: uppercase;
//   color: $color-black-blue-2;

//   @media (min-width: $tablet-width) {
//     padding-top: 23px;
//     padding-left: 91px;
//     padding-bottom: 17px;
//     font-size: 28px;
//     line-height: 28px;
//   }

//   @media (min-width: $desktop-width) {
//     font-size: 0;
//   }
// }

// .main-nav__contacts-link {
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 45px;
//     height: 45px;
//     background-color: $color-black-blue;
//     border-radius: 50%;

//     @media (min-width: $tablet-width) {
//       width: 68px;
//       height: 68px;
//     }
//   }

//   &::after {
//     content: "";
//     position: absolute;
//     left: 13px;
//     width: 18px;
//     height: 18px;

//     @media (min-width: $tablet-width) {
//       left: 21px;
//     }
//   }

//   &--tel::after {
//     top: 15px;
//     background: url("../../img/contacts-phone.svg") no-repeat;

//     @media (min-width: $tablet-width) {
//       top: 23px;
//       width: 27px;
//       height: 27px;
//     }
//   }

//   &--mail::after {
//     top: 18px;
//     background: url("../../img/contacts-mail.svg") no-repeat;

//     @media (min-width: $tablet-width) {
//       top: 27px;
//       width: 27px;
//       height: 20px;
//     }
//   }
// }

.main-nav__social {
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
