.main-content {
  padding-top: 7px;
  background:
    url("../img/traveller-illustration-mobile@1x.webp") no-repeat 61% 90%,
    url("../img/globe-back-mobile@1x.webp") no-repeat $color-blue-dark-3 100% 52%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.webp");
    // background-size: 575px auto;
  }
}

.main-content__title {
  @include reset-indent;
  padding-bottom: 258px;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: $color-white;
}

.main-content__wrapper {
  display: flex;
  // background-color: $color-blue-dark;
}

.main-content__contacts {
  padding-left: 12px;
}
