.user-menu {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.user-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--tel {
    background-color: $color-orange-dark;
  }

  &--mail {
    background-color: $color-orange;
  }

  &--auth {
    min-width: 189px;
  }
}
