// ----INDEX-----------------------------------

body {
  background: url("../img/pognali-index-mobile-menu.jpg") no-repeat;
  min-height: 5377px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  body {
  background: url("../img/pognali-index-tablet-menu.jpg") no-repeat;
    min-height: 6471px;
    opacity: 0.2;
  }
}

@media (min-width: $desktop-width) {
  body {
  background: url("../img/pognali-index-desktop.jpg") no-repeat;
    min-height: 5250px;
    opacity: 0.2;
  }
}

// ----CATALOG-----------------------------------

// body {
//   background: url("../img/mishka-catalog-mobile.jpg") no-repeat;
//   min-height: 3932px;
//   opacity: 0.2;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: url("../img/mishka-catalog-tablet.jpg") no-repeat 50% 0;
//     min-height: 3710px;
//     opacity: 0.2;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../img/mishka-catalog-desktop.jpg") no-repeat 50% 0;
//     min-height: 3623px;
//     opacity: 0.2;
//   }
// }

// ----FORM-----------------------------------


// body {
//   background: url("../img/mishka-form-mobile.jpg") no-repeat;
//   min-height: 3932px;
//   opacity: 0.2;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: url("../img/mishka-form-tablet.jpg") no-repeat 50% 0;
//     min-height: 3710px;
//     opacity: 0.2;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../img/mishka-form-desktop.jpg") no-repeat 50% 0;
//     min-height: 3623px;
//     opacity: 0.2;
//   }
// }

// ----MODAL-----------------------------------


// body {
//   background: url("../img/mishka-modal-mobile.jpg") no-repeat;
//   min-height: 3932px;
//   opacity: 0.2;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: url("../img/mishka-modal-tablet.jpg") no-repeat 50% 0;
//     min-height: 3710px;
//     opacity: 0.2;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../img/mishka-modal-desktop.jpg") no-repeat 50% 0;
//     min-height: 3623px;
//     opacity: 0.2;
//   }
// }
