$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-dark-grey: #444444;
$color-violet-light: #edeff6;
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #ffd74b;
$color-blue-dark: #161c35;
$color-black-blue: #121936;
$font-weight-medium: 600;
$font-weight-bold: 700;


// $font-weight-bold: 700;
// $color-white: #ffffff;
// $color-light-grey: #ececec;
// $color-light-grey-2: #f1f1f1;
// $color-black: #000000;
// $color-mint: #62d1ba;
